body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .card img {
    width: 80px;
    height: 80px;
  }

  .container {
    padding: 10px;
  }
}

/* Global Full-Screen Background */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #35ffe1 0%, #13abd0 100%);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: gradientAnimation 10s infinite alternate;
}

/* Centering Content */
#app {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}